* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Georgia', serif;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #d8f3dc, #fefae0);
  padding: 20px;
}

.container {
  width: 100%;
  max-width: 500px;
}

.card {
  background: #ffffff;
  padding: 35px;
  border-radius: 25px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(52, 78, 65, 0.15);
}

h1 {
  color: #2d6a4f;
  margin-bottom: 20px;
}

.message {
  color: #3a5a40;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 25px;
}

.details {
  background: #f1faee;
  padding: 20px;
  border-radius: 18px;
  margin-bottom: 25px;
  border: 1px solid #b7e4c7;
}

.details h2 {
  color: #40916c;
  margin-bottom: 15px;
}

.details p {
  margin: 8px 0;
  color: #344e41;
  font-size: 16px;
}

.love {
  color: #3a5a40;
  font-style: italic;
  line-height: 1.5;
  margin-bottom: 25px;
}

button {
  background: #40916c;
  color: white;
  border: none;
  padding: 12px 30px;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #2d6a4f;
  transform: scale(1.05);
}

#surprise {
  margin-top: 20px;
  color: #2d6a4f;
  font-weight: bold;
}
.countdown {
  margin: 25px 0;
  background: #f1faee;
  padding: 20px;
  border-radius: 18px;
  border: 1px solid #b7e4c7;
}

.countdown h2 {
  color: #40916c;
  font-size: 18px;
  margin-bottom: 15px;
}

#timer {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

#timer span {
  background: #40916c;
  color: white;
  padding: 10px;
  border-radius: 12px;
  min-width: 65px;
}

#timer b {
  display: block;
  font-size: 22px;
}

#timer small {
  font-size: 12px;
}
